parameters:
    encore.route_prefix.merchant: "/merchant"
    encore.route_prefix.customer: ""
    encore.host.customer: encore.com
    encore.host.merchant: merchant.encore.com
    encore.currency: MYR
    encore.timezone: Asia/Kuala_Lumpur

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     Encore
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    uglifycss:          /usr/local/bin/uglifycss
    uglifyjs:           /usr/local/bin/uglifyjs
