{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block title %}
    Advance search
{% endblock title %}

{% block require_js %}
    require(["libs/bootstrap/bootstrap-datepicker"]);
    require(["encore/search/advance-search"]);
{% endblock require_js %}

{% block css %}
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/datepicker.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block content %}
    <div class="search-main">
        <div class="nav-div">
            <ul class="nav nav-tabs">
                <li class="li-search">
                    <div class="search-background">
                        <a class="search-a"href="#search" data-toggle="tab">SEARCH</a>
                    </div>

                </li>
                <li class="li-filter">
                    <div class="filter-background">
                        <a class="filter-a" href="#filter" data-toggle="tab">FILTER</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active fade in" id="search">

                <form action="{{ path('encore_global_search') }}" method="GET" >
                    <input type="text" class="search-bar" name="search_result" placeholder="Keyword..."/>
                    <div class="search-logo"></div>
                </form>
            </div>
            <div class="tab-pane fade" id="filter">
                <div class="btn-group main-selection" data-toggle="buttons-radio">
                    <button type="button" class="btn btn-danger filter-type">TYPE</button>
                    <button type="button" class="btn btn-danger filter-location">LOCATION</button>
                    <button type="button" class="btn btn-danger filter-date">DATE</button>
                </div>

                <div class="type-div btn-group" data-toggle="buttons-checkbox" style="display:none;">

                    <button type="button" class="btn">Performing Arts</button>
                    <button type="button" class="btn">Concert</button>
                    <br />
                    <button type="button" class="btn">Art</button>
                    <button type="button" class="btn">Exhibition</button>

                </div>

                <div class="location-div btn-group" data-toggle="buttons-checkbox" style="display:none;">
                    <button type="button" class="btn">Selangor</button>
                    <button type="button" class="btn">Perak</button>
                    <button type="button" class="btn">Penang</button>
                    <br/>
                    <button type="button" class="btn">Kuala Lumpur</button>
                    <button type="button" class="btn">Pahang</button>
                    <button type="button" class="btn">Sabah</button>
                    <br/>
                    <button type="button" class="btn">Johor Bahru</button>
                </div>

                <div class="date-div" style="display:none;">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div style="float:right;">
                        <button type="button" class="btn">Reset Time</button>
                    </div>
                    <div class="from-date">
                        <span>From Date</span>
                        <input type="text" readonly class="datepicker" id="from_date" />
                    </div>

                    <br/>
                    <div class="to-date">
                        <span>To Date</span>
                        <input type="text" readonly class="datepicker" id="to_date" />
                    </div>

                </div>
                <br />
                <br />
                <br />
                <div class="label-div">
                    <span> Filtered By :</span>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}