{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block title %}
    Advance search
{% endblock title %}

{% block stylesheets %}
    <link href="{{ asset('bundles/encorecustomer/css/libs/bootstrap/bootstrap.min.css') }}" rel="stylesheet"/>
{% endblock stylesheets %}
{% block content %}
    <script>
        $(function () {
            $(".datepicker").datepicker();
//            $(".datepicker").datepicker();
        });
    </script>

    <div class="search-main">
        <div id="static-logo" onclick="location.href='/';"></div>
        <div class="search-setting">
            <h2>Advance Search</h2>

            <form class="form-horizontal" role="form">

                <input type="text" class="search-box" size="21" maxlength="120" placeholder="Search">


                <div class="form-group">
                    <label for="location" class="col-sm-2 control-label">Location</label>


                    <select class="location" id="location">
                        <option value="KL">KL</option>
                        <option value="Johor Bahru">Johor Bahru</option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="datepicker-from" class="col-sm-2 control-label">From</label>

                    <div class="col-sm-10">
                        <input class="datepicker" id="datepicker-from" placeholder="Starting Date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="datepicker-to" class="col-sm-2 control-label">To</label>

                    <div class="col-sm-10">
                        <input type="date" id="datepicker-to" placeholder="End Date">
                    </div>
                </div>
                <div class="category">
                    <h2>Categories</h2>

                    <div class="checkbox">
                        <input type="checkbox" id="select-all" name="select-all"/>
                        <label for="select-all">Select all</label>

                        <input type="checkbox" id="concert" name="concert"/>
                        <label for="concert">Concert</label>

                        <input type="checkbox" id="dance" name="dance"/>
                        <label for="dance">Dance</label>

                        <input type="checkbox" id="art" name="art"/>
                        <label for="art">Art</label>

                        <input type="checkbox" id="exhibition" name="exhibition"/>
                        <label for="exhibition">Exhibition</label></div>
                </div>

                <button class="submit" type="submit">Search</button>


            </form>
        </div>
        <div class="list-option">
            <h2>Display Search Result</h2>

            <div class="option-button">
                <button class="gallery">Gallery</button>
                <button class="list">List</button>
            </div>
        </div>

        <div class="result-list">
            {% block result %}
                {{ include(
                    'EncoreCustomerBundle:Search:list-result.html.twig'
                ) }}
            {% endblock result %}
        </div>
    </div>
{% endblock content %}