{# Created by sysadm on 11/9/13. #}

{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block content %}
    <div class="search-content">
        <div class="search-field">
            <form id="search-form" action="{{ path("encore_global_search") }}">
                <input type="search" name="q" placeholder=""/>
                <span class="icon search" onclick="$('#search-form').submit()"></span>
            </form>
        </div>
    </div>
{% endblock content %}