{% extends 'EncoreCustomerBundle:Search:advance-search.html.twig' %}

{% block result %}
    <div class="list-result-main">

        <table class="list-result-table">
            <thead>

            <th>Event Name</th>
            <th>Date</th>
            <th>Vanue</th>
            <th>Location</th>
            <th>Category</th>
            <th>Detail</th>

            </thead>
            <tbody>

            <tr>
                <td>Name1</td>
                <td>Date1</td>
                <td>Vanue1</td>
                <td>Location1</td>
                <td>Category1</td>
                <td>
                    <button>Detail</button>
                </td>
            </tr>

            <tr>
                <td>Name2</td>
                <td>Date2</td>
                <td>Vanue2</td>
                <td>Location2</td>
                <td>Category2</td>
                <td>
                    <button>Detail</button>
                </td>

            </tr>
            <tr>
                <td>Name3</td>
                <td>Date3</td>
                <td>Vanue3</td>
                <td>Location3</td>
                <td>Category3</td>
                <td>
                    <button>Detail</button>
                </td>

            </tr>
            <tr>
                <td>Name4</td>
                <td>Date4</td>
                <td>Vanue4</td>
                <td>Location4</td>
                <td>Category4</td>
                <td>
                    <button>Detail</button>
                </td>

            </tr>
            
            </tbody>

    </div>
{% endblock result %}
