<div class="footer">
    <h2></h2>
    <ul class="footerMenu">
        <li><a href="javascript:void(0);">About Encore</a></li>
        <li><a href="javascript:void(0);">Contact us</a></li>
        <li><a href="javascript:void(0);">Site Map</a></li>
        <li><a href="javascript:void(0);">Website Terms & Conditions</a></li>
        <li><a href="javascript:void(0);">Purchase Terms & Conditions</a></li>
        <li><a href="javascript:void(0);">Privacy</a></li><br/>
    </ul>
    <a>© 2013 Encore. All right reserved.</a>
</div>