<div class="footer" xmlns="http://www.w3.org/1999/html">


    <h2>Encore</h2>
    <ul class="footerMenu">
        <li><a href="#">About Encore</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Site Map</a></li>
        <li><a href="#">Website Terms & Conditions</a></li>
        <li><a href="#">Purchase Terms & Conditions</a></li>
        <li><a href="#">Privacy</a></li><br/>
    </ul>
    <a>© 2013 Encore. All right reserved.</a>
</div>