{# Created by rynecheow on 11/6/13. #}

{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block title %}
    Thank You
{% endblock title %}

{% block css %}

{% endblock css %}

{% block require_js %}

{% endblock require_js %}
{% block content %}
    <div class="thank-you-container">
        {% block tycontainer %}
        {% endblock tycontainer %}
    </div>
{% endblock content %}