/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   CSS Reset Start
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Of Reset CSS */

/* Variables */
@darkMain : #262626;
@lightMain: #e0e0e0;
@lightSecondary: #e5e5e5;
@lightChoc: #a99d9d;
@pinkMain: #d44877;
@pinkSecondary: #d42852;
@mainFont: elena-web-basic, georgia;
@translucent : 0 1px 2px rgba(0, 0, 0, 0.05);
@errorRedMain : #8b232a;
/* Functions */
.list-style-main (@size: 1.5em) {
  line-height: @size;
  margin-left: @size * 2;
}

.placeholder-font () {
  ::-webkit-input-placeholder {
    font-family: @mainFont, georgia;
  }

  ::-moz-placeholder {
    font-family: @mainFont, georgia;
  }

  /* firefox 19+ */
  :-ms-input-placeholder {
    font-family: @mainFont, georgia;
  }

  /* ie */
  input:-moz-placeholder {
    font-family: @mainFont, georgia;
  }
}

body {
  background-color: @darkMain;
  font-family: @mainFont;
  line-height: 1.2;
}

html, body {
  margin: 0;
  padding: 0;
}

/*Main wrapper*/
.wrapper {
  width: 100%;
  background: @darkMain;
  #static-logo {
    margin: 0;
    background: url('../../bundles/encorecustomer/images/logo/logo-color.svg');
    background-size: cover;
    min-width: 200px;
    min-height: 55px;
    width: auto;
    height: auto;
    margin-left: 50px;
    float: left;
  }
}

nav {
  z-index: 100;
}

.signup-signin-logo {
  background: url('../../bundles/encorecustomer/images/logo/logo-dark.svg');
  background-size: cover;
  width: 265px;
  height: 72px;
  margin: 17px 117px;
  float: left;
  cursor: pointer;
}

/*Home page*/
.item {
  img {
    left: 100%;
    width: 100%;
    height: auto;
    z-index: 1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
  }
}

/*Home page*/
.home-content {
  h2.spread-headline {
    font-family: @mainFont;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 1.2em;
    color: @lightMain;
    font-size: 1.4em;
    margin: 0px auto;
    text-indent: 34px;
    padding-top: 60px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    z-index: 3;

  }
  .home-featured {
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
    overflow: hidden;

    .carousel-inner {
      z-index: 2;
      position: relative;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .home-new {
    width: 100%;
    .home-new-events {
      overflow: hidden;
      background-color: @lightMain;
      position: relative;
      .spread-headline {
        color: @darkMain
      }
      .revealer {
        margin-top: 100px;
      }
    }
  }
}

/*Static pages*/
.static {
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: @lightMain;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 55px 55px;
  font-size: 15px;
  text-align: justify;

  h3 {
    font-size: 28px;
    font-weight: bold;
    color: @darkMain;
    text-align: left;
    line-height: 2em;
  }

  p, a {
    color: @darkMain;
    line-height: 1.5em;
  }

  a {
    font-weight: bold;
  }

  ul {
    list-style-type: circle;
  }

  ul li, ol.title, li, p {
    .list-style-main;
  }

  ol {
    list-style-type: upper-latin;
    .title {
      font-weight: bold;
    }
  }

}

/*Sign in page*/
.signIn-container {
  .placeholder-font;
  width: 500px;
  height: 500px;
  margin: 0 auto;

  .to_register {
    margin-top: 10px;
    p {
      color: @lightChoc;
      font-size: 15pt;
    }
  }
  .signIn-form {
    min-width: 400px;
    min-height: 400px;
    padding: 105px 100px 59px 72px;
    margin: 0 auto;
    background-color: @lightMain;
    border: 1px solid @lightSecondary;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-top: 100px;

    h1.signIn-header {
      font-family: 'Alegreya SC';
      font-size: 32pt;
      text-align: center;
      letter-spacing: 10px;
      text-transform: uppercase;
      width: 350px;
      margin-bottom: 30px;
    }

    .checkbox {
      margin-bottom: 10px;
    }

    .submit {
      display: block;
      width: 350px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
      color: @lightMain;
      background-color: @pinkMain;
      border-color: @pinkSecondary;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
    }

    input[type="text"], input[type="password"] {
      font-size: 14pt;
      height: 40px;
      margin-bottom: 15px;
      padding: 7px 9px;
      width: 350px;
    }
  }
}

/*Sign up page*/
.signUp-container {
  .placeholder-font;
  width: 500px;
  height: 700px;
  margin: 0 auto;

  .to_login {
    margin-top: 10px;
    p {
      color: #9E9292;
      font-size: 15pt;
    }
  }

  .signUp-form {
    min-width: 500px;
    max-height: 550px;
    padding: 141px 69px;
    margin: 0 auto;
    background-color: @lightMain;
    border: 1px solid @lightSecondary;
    border-radius: 5px;
    box-shadow: @translucent;
    margin-top: 100px;
    h1.signUp-header {
      font-size: 32pt;
      text-align: center;
      letter-spacing: 10px;
      text-transform: uppercase;
      width: 350px;
      margin: -25px 0px 54px 0px;
      margin-bottom: 25px;
    }

    .signup-email, {
      font-size: 14pt;
      height: 40px;
      padding: 7px 9px;
      width: 350px;
    }
    .signup-username, .signup-password {
      font-size: 14pt;
      height: 40px;
      margin-top: 10px;
      padding: 7px 9px;
      width: 350px;
    }

    .checkbox {
      margin-top: 10px;
    }
    
    .parsley-error-list {
      font-size: 12px;
      color: @errorRedMain;
    }

    .submit {
      display: block;
      width: 350px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
      color: @lightMain;
      background-color: @pinkMain;
      border-color: @pinkSecondary;
      margin-top: 25px;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
    }
  }
}

/*Complete profile page*/
.complete-profile-container {
  width: 500px;
  height: 650px;
  margin: 0 auto;
  .placeholder-font;
  label {
    color: #262626;
    font-family: arial, sans-serif;
    margin-top: 5px;
  }
  .complete-profile-form {
    max-height: 650px;
    max-width: 500px;
    padding: 141px 69px;
    margin: 0 auto;
    background-color: @lightMain;
    border: 1px solid @lightSecondary;
    border-radius: 5px;
    box-shadow: @translucent;
    margin-top: 100px;
    h1.complete-profile-header {
      font-size: 16pt;
      text-align: center;
      text-transform: uppercase;
      width: 350px;
      margin: -25px 0 33px 0;
      margin-bottom: 15px;
    }
    .complete-profile-fname, {
      font-size: 14pt;
      height: 40px;

      padding: 7px 9px;
      width: 350px;
    }
    .complete-profile-lname, .complete-profile-contactno {
      font-size: 14pt;
      height: 40px;
      margin-top: 10px;
      padding: 7px 9px;
      width: 350px;
    }

    .complete-profile-address {
      font-size: 14pt;
      width: 350px;
      height: 100px;
    }
    #form_birthDate {
      select {
        margin-top: 10px;
        width: 100px;
      }

    }
    #form_contactNo {
      margin-top: 10px;
    }

    #form_address {
      margin-top: 10px;
    }
    .submit {
      display: block;
      width: 350px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
      color: @lightMain;
      background-color: @pinkMain;
      border-color: @pinkSecondary;
      margin-top: 20px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: @translucent;
    }

    .parsley-error-list {
      font-size: 12px;
      color: @errorRedMain;
    }
  }
}

.event-page {
  position: relative;
  margin-top: 5%;
  width: 100%;

  .event-img {
    margin-left: 30%;
  }
}

.event-detail {
  position: fixed;
  width: 20%;
  height: 200px;
  top: 15%;
  z-index: 100;
  //margin-top: 25%;
  //margin-right: 10%;
  padding: 20px 20px 20px 20px;
  background-color: @lightMain;
  color: @darkMain;
  float: right;
  right: 20px;
  border: 1px solid @lightSecondary;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  font-size: 13px;
  text-align: justify;
  line-height: 1.5em;

  .submit {
    display: block;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    color: @lightMain;
    background-color: @pinkMain;
    border-color: @pinkSecondary;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
  }

}

.thank-you-upper{
  margin-bottom: 10%;

}
.thank-you-main {
  margin-left: 10%;
  width: 80%;
  background-color: #ffffff;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
  .thank-you-heading {
    text-align: center;
    h2 {
      font-size: 26px;
    }

  }

  .ticket-information {
    width: 50%;
    background-color: #262626;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25%;
    text-align: justify;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;

    li{
      margin-left: 30%;
    }
  }
  h3 {
    text-align: center;
    font-size: 18px;
  }
  .thank-you-redirect{
    margin-top: 20px;
    text-align: right;
    p , a{
      font-size: 13.5px;
    }
  }
}