/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   CSS Reset Start
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Of Reset CSS */

body {
  background-color: #262626;
  font-family: 'helveticaneue-light';
}

html, body {
  margin: 0;
  padding: 0;
//  height: 100%;
}

.wrapper {
  width: 100%;
  background: #262626;
  #static-logo {
    margin: 0;
    background: url('../../bundles/encorecustomer/images/logo/logo-color.svg');
    background-size: cover;
    width: 265px;
    height: 72px;
    margin-left: 50px;
    float: left;
  }
}

nav {
  z-index: 1000;
}

.signup-signin-logo {
  background: url('../../bundles/encorecustomer/images/logo/logo-dark.svg');
  background-size: cover;
  width: 265px;
  height: 72px;
  margin: 17px 117px;
  float: left;
  cursor: pointer;
}

.signIn-container {
  width: 500px;
  height: 500px;
  margin: 0 auto;

  .to_register {
    margin-top: 10px;
    p {
      color: #9E9292;
      font-size: 15pt;
    }
  }
  .signIn-form {
    min-width: 400px;
    min-height: 400px;
    padding: 105px 100px 59px 72px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-top: 100px;

    h1.signIn-header {
      font-family: 'Alegreya SC';
      font-size: 32pt;
      text-align: center;
      letter-spacing: 10px;
      text-transform: uppercase;
      width: 350px;
      margin-bottom: 30px;
    }

    .checkbox {
      margin-bottom: 10px;
    }

    .submit {
      display: block;
      width: 350px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
      color: #ffffff;
      background-color: #d44877;
      border-color: #d42852;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;

    }

    input[type="text"], input[type="password"] {
      font-size: 14pt;
      height: 40px;
      margin-bottom: 15px;
      padding: 7px 9px;
      width: 350px;
    }
  }
}

.signUp-container {
  width: 500px;
  height: 700px;
  margin: 0 auto;

  .to_login {
    margin-top: 10px;
    p {
      color: #9E9292;
      font-size: 15pt;
    }
  }

  .signUp-form {
    min-width: 500px;
    max-height: 600px;
    padding: 141px 69px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    margin-top: 100px;
    h1.signUp-header {
      font-family: 'Alegreya SC';
      font-size: 32pt;
      text-align: center;
      letter-spacing: 10px;
      text-transform: uppercase;
      width: 350px;
      margin: -25px 0px 54px 0px
    }

    .email, .username, .password{
      font-size: 14pt;
      height: 40px;
      margin-bottom: 25px;
      padding: 7px 9px;
      width: 350px;
    }

    .submit {
      display: block;
      width: 350px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
      color: #ffffff;
      background-color: #d44877;
      border-color: #d42852;
      margin-bottom: 0;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
    }
  }
}

.item {
  img {
    left: 100%;
    z-index: 1;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
  }
}

.static {
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #e0e0e0;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 55px 55px;
  h3, p, a {
    color: #0d0d0d;
    text-align: justify;
    line-height: 1.5em;
  }
  a {
    color: darkred;
    text-align: justify;
    line-height: 1.5em;
  }
}

.home-content {
  .home-featured {
    .spread-headline {
      -webkit-font-smoothing: antialiased;
      color: rgb(255, 255, 255);
      display: block;
      font-family: Alegreya SC;
      font-size: 18px;
      font-weight: normal;
      height: 18px;
      letter-spacing: 34.560001373291016px;
      line-height: 18px;
      margin-bottom: 0px;
      margin-left: 17px;
      margin-right: 17px;
      margin-top: 0px;
      max-width: 1106px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      position: relative;
      text-align: center;
      text-indent: 34px;
      text-transform: uppercase;
      width: 1106px;
      z-index: 3;
    }
    .carousel-inner {
      z-index: 2;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

#effect {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 10000;
}

.menu {
  .main-nav {
    & > li {
      position: absolute;
      width: 150px;
      z-index: 1;
      a {
        span {
          display: block;
          color: #fff;
          font-size: .92em;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding-top: 15px;

        }
      }
      .animated-line {
        & > div {
          width: 200px;
        }
      }

      & > li.grid1 {
        top: 0;
        left: 20%;
      }
      & > li.grid2 {
        top: 25%;
        left: -8%;
      }
      & > li.grid3 {
        top: 54%;
        right: 0;
      }
      & > li.grid4 {
        bottom: 5%;
        left: 62%;
      }
      & > li.grid5 {
        bottom: 20%;
        left: 18%;
      }
    }
  }
}

