table.seatTable tbody tr td
{
  width: 30px;
  height: 30px;

  div
  {
    position: absolute;
    width: 20px;
    height: 20px;
  }
}

.empty {
  background: green;
}

.selected {
  background: yellow;
}

.locked {
  background: orange;
}

.sold {
  background: red;
}