table.seatTable
{
  margin-top: 50px;

  tbody tr td
  {
    width: 30px;
    height: 30px;

    div
    {
      position: absolute;
      width: 20px;
      height: 20px;
      text-align: center;
    }

    div.tableLabel {
      background: lightgoldenrodyellow;
    }

    div.empty {
      background: green;
    }

    div.selected {
      background: yellow;
    }

    div.locked {
      background: orange;
    }

    div.sold {
      background: red;
    }
  }
}