<header>
    <div style="margin: auto 10%">
        <a href="."><img width="150px" src="bundles/encorecustomer/images/logo2.png"/></a>
    </div>
</header>

<div class="userMember" style="float:right;">
    
</div>