<div id="header-anchor"></div>
<div class="header">
    <div style="margin: auto 10%">
        <a href="."><img width="150px" src="bundles/encorecustomer/images/logo/logo-color.png"/></a>
    </div>
</div>

<div class="userMember" style="float:right;">
    
</div>