<section>
    <button id="closeForm">X</button>
    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
    <a class="hiddenanchor" id="toregister"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper">
        <div id="login" class="animate form">
            <form autocomplete="on">
                <h2 class="signIn-heading">Sign In</h2>
                <p>
                    <div>
                        <label for="username" class="uname" data-icon="u" > Email or username </label>
                        <input class="username" type="text" id="username" name="_username" required="required"/>
                    </div>
                </p>
                <p>
                    <div>
                        <label for="password" class="youpasswd" data-icon="p"> Password </label>
                        <input class="password" id="password" name="password" required="required" type="password" />
                    </div>
                </p>
                <p>
                    <div>
                        <input class="checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">Remember Me</label>
                    </div>
                </p>
                <p class="login button">
                    <input class="submit" type="submit" id="_submit" name="_submit" value="Sign In" />
                </p>
                <p class="change_link">
                    Not a member yet ?
                    <a href="#toregister" class="to_register">Join us</a>
                </p>
            </form>
        </div>

        <div id="register" class="animate form">
            <form autocomplete="on">
                <h2 class="signIn-heading">Sign Up</h2>
                <p class="signin button">
                    <input type="submit" value="Sign up"/>
                </p>
                <p class="change_link">
                    Already a member ?
                    <a href="#tologin" class="to_register"> Go and log in </a>
                </p>
            </form>
        </div>

    </div>
</section>