{% extends 'EncoreCustomerBundle::layout.html.twig' %}


{% block title %}Welcome{% endblock %}

{% block require_js %}
    require(["encore/home/security-pusher",
             "encore/sticky-header"]);
{% endblock require_js %}

{% block content %}
    <div class="menu">
        <ul class="main-nav">
            <li class="grid1">
                <a href="javascript:void(0);">
                    <div class="animated-line animated"><div></div></div>
                    <span>grid one</span>
                </a>
            </li>
            <li class="grid2">
                <a href="javascript:void(0);">
                    <div class="animated-line animated"><div></div></div>
                    <span>grid two</span>
                </a>
            </li>
            <li class="grid3">
                <a href="javascript:void(0);">
                    <div class="animated-line animated"><div></div></div>
                    <span>grid three</span>
                </a>
            </li>
            <li class="grid4">
                <a href="javascript:void(0);">
                    <div class="animated-line animated"><div></div></div>
                    <span>grid four</span>
                </a>
            </li>
            <li class="grid5">
                <a href="javascript:void(0);">
                    <div class="animated-line animated"><div></div></div>
                    <span>grid five</span>
                </a>
            </li>
        </ul>

    </div>



    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item">
                <a>
                    <img src="{{ asset('bundles/encorecustomer/images/featured-cover/lady-gaga.jpg') }}" alt="">
                </a>

                <div class="carousel-caption">
                    <h4>First Thumbnail label</h4>

                    <p>First description</p>
                </div>
            </div>
            <div class="item">
                <a>
                    <img src="{{ asset('bundles/encorecustomer/images/featured-cover/mayday.jpg') }}" alt="">
                </a>

                <div class="carousel-caption">
                    <h4>Second Thumbnail label</h4>

                    <p>Second description</p>
                </div>
            </div>
            <div class="item active">
                <a>
                    <img src="{{ asset('bundles/encorecustomer/images/featured-cover/snsd.jpg') }}" alt="">
                </a>

                <div class="carousel-caption">
                    <h4>Third Thumbnail label</h4>

                    <p>Third description</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>
    <div>

        <button id='effect'>Push</button>
    </div>
{% endblock %}