{% extends 'EncoreCustomerBundle::layout.html.twig' %}


{% block title %}Welcome{% endblock %}

{% block require_js %}
{% endblock require_js %}

{% block content %}
    <div class="upper-home">
        <ul class="main-nav">
            <li class="item-one">
                <a href="#" class="btn-products">
                    <div class="animated-line animated"><div></div></div>
                    <span>Item One</span>
                </a>
            </li>
            <li class="item-two">
                <a href="#">
                    <div class="animated-line animated"><div></div></div>
                    <span>Item Two</span>
                </a>
            </li>
            <li class="item-three">
                <a href="#">
                    <div class="animated-line animated"><div></div></div>
                    <span>Item Three</span>
                </a>
            </li>
            <li class="item-four">
                <a href="" >
                    <div class="animated-line animated"><div></div></div>
                    <span>Item Four</span>
                </a>
            </li>
            <li class="item-five">
                <a href="">
                    <div class="animated-line animated"><div></div></div>
                    <span>Item Five</span>
                </a>
            </li>
        </ul>

    </div>

    <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    </ol>
    <section class="home-content">

        <article class="home-featured">
            <h2 class="spread-headline">
                Featured Events
            </h2>

            <div class="carousel-inner">
                <div class="item">
                    <a>
                        <img src="{{ asset('bundles/encorecustomer/images/featured-cover/lady-gaga.jpg') }}" alt="">
                    </a>

                    <div class="carousel-caption">
                        <h4>First Thumbnail label</h4>

                        <p>First description</p>
                    </div>
                </div>
                <div class="item">
                    <a>
                        <img src="{{ asset('bundles/encorecustomer/images/featured-cover/mayday.jpg') }}" alt="">
                    </a>

                    <div class="carousel-caption">
                        <h4>Second Thumbnail label</h4>

                        <p>Second description</p>
                    </div>
                </div>
                <div class="item active">
                    <a>
                        <img src="{{ asset('bundles/encorecustomer/images/featured-cover/snsd.jpg') }}" alt="">
                    </a>

                    <div class="carousel-caption">
                        <h4>Third Thumbnail label</h4>

                        <p>Third description</p>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
        </article>
    </section>
{% endblock %}