{% extends 'EncoreCustomerBundle:Static:static.html.twig' %}

{% block title %}
    About us
{% endblock title %}
{% block static %}
    <div class="about">
        <h3>
            About Us
        </h3>

        <p>
            Encore.com is website that provide service in selling ticket for concert and event that happening around the
            world.
        </p>

        <p>
            We provide new way of buying ticket online with user friendly interface and attractive content that will
            attract customer to use Encore.com .

        <p>
            Now we can buy ticket anytime and anywhere we want.
        </p>

    </div>
{% endblock static %}