{% extends 'EncoreCustomerBundle:Static:static.html.twig' %}
{% block title %}
    Privacy Policy
{% endblock title %}
{% block static %}

    <div class="privacy">
        <h3><strong>Encore Privacy Policy</strong></h3>

        <p>
            Encore.com is concerned about your right to privacy.
            Therefore, Encore.com pledges to be responsible when
            gathering your personal information and to protect your privacy in every possible way.
            Although, this Privacy Policy is not a contract and does not create any legal rights,
            however, it does serve as an expression of Encore.com’s commitment to protecting private personal
            information.
        </p>

        <p>
            It must be borne in mind that Encore.com reserves the right to change,
            amend and/or vary this Privacy Policy at any time and will notify users of
            the same by updating the policy here and by including a "NEWLY UPDATED" label
            with the "PRIVACY POLICY" link on the web sites governed by this policy for a period of 30 days.
        </p>

        <p>
            This Privacy notice aims to answer your questions about the sources and kinds of information Encore.com
            collects,
            how it is used, when it may be shared with others, and how we safeguard its confidentiality and security.
            We also provide you with ways to correct the data you provide us and the option to limit our sharing of this
            data with Encore.com’s authorized third parties.
        </p>

        <p>
            This Privacy notice is applicable to all users of Encore.com’s website @ www.Encore.com regardless of the
            intention and without limitation to Travel Reservations,
            Corporate Sales, Marketing Research, and Customer Relations/Service.
        </p>

        <p>
            This Privacy Policy was established within the context of our Encore.com Website and the potential for
            gathering personal information within electronic media;
            however, this Policy is not limited to the Encore.com Website.
            Our Privacy Policy applies whenever you and the Company interact and there is a possibility that during such
            interaction,
            we may acquire certain information about you.
        </p>

        <p>
            It must be borne in mind that Encore.com reserves the right to change, amend and/or vary this Privacy Policy
            at any time and will notify users of the same by
            updating the policy here and by including a "NEWLY UPDATED" label with the "PRIVACY POLICY"
            link on the web sites governed by this policy for a period of 30 days.
        </p>
        <br/>
        <a>Information Collection

        </a>

        <p>
            To ensure that we successfully process your booking and to effectively manage our business, we collect and
            maintain personal information about you. We collect customer information from many sources for the purposes
            of understanding current or new demands, meeting these demands as well as to provide and personalize our
            services. The means of information collection, among others, are as following:
        </p>
        <ul>
            <li>From you; when you voluntarily provide by signing up on Encore.com</li>
            <li>From your browser; when you visit our website and your browser interacts with us;</li>
            <li>Become a registered user of the Encore.com Website</li>
            <li>Purchase tickets or admission to an event or venue</li>
            <li>Sign-up or subscribe for products or services that we may periodically make available</li>
            <li>Participate in a special promotion</li>
        </ul>
        <p>
            We do not collect personal information (such as names, addresses, phone numbers, email addresses or credit
            card numbers) about you except when you specifically provide your information on a voluntary basis. Your
            personal information may be collected as you:
            In addition, we may be required to share your personal information with certain entertainment organizations
            and venues (an “Event Host”) as part of our contractual relationship with them. Of course, if you wish to
            purchase tickets to an event and remain anonymous, you can purchase your tickets in person, directly through
            the Event Host's box office.
            Whenever required by law, we will disclose your information to the government bodies or authorities or third
            parties pursuant to a subpoena or other legal process accordingly. Further, we may also use or disclose your
            information as permitted by law to protect the rights or property of Encore.com, our customers, our website,
            or its users. We may also disclose your information, whether in part or in full, to our contracted or
            authorized companies such as our data processors.
            Encore.com does not sell or rent any personal information you provide on our web site to any other parties.
            Encore.com may share anonymous and/or aggregated information about all our users with third parties.

        </p>
        <br/>
        <a>
            Using your information:
        </a>

        <p>
            We may utilise your information in the following manner:
        </p>
        <ul>
            <li>
            If you are purchasing tickets or admission to an event or venue, the Company uses your personal information
            to complete the purchase transaction and to communicate with you about your ticket order, ticket delivery or
            other inquiry.
            </li>
            <li>
            In addition, whenever you purchase tickets or admission to an event or venue, we may be required to share
            your personal information with a third party credit card processor to facilitate completion of your
            transaction. The credit card processor may share the same information with your credit card issuer for the
            issuer's use in connection with gathering data related to use of their cards, rewards programs or other
            purposes. You are urged to read and become familiar with the privacy policies governing the use of your
            credit cards.
            </li>
            <li>
            Alternate: For security reasons, your credit card number is not saved. You must type the credit card number
            each time you make a purchase.
            </li>
            <li>
            Also, when you purchase a ticket or admission to an event or venue, we may be contractually required to pass
            your personal information to the Event Host so that they may communicate with you about the event you are
            going to attend. Under those circumstances, we cannot offer you the option to opt-out from having your
            information passed to the Event Host.
            </li>
            <li>
            Event Hosts are not subject to the provisions of this Privacy Policy, which means that they may use your
            personal information for purposes other than contacting you about the event you are going to attend. When
            you purchase tickets to an event, you should read and become familiar with the privacy policies of the Event
            Host. Encore.com has no control over the use of your personal information by any Event Host and you agree
            that we are not liable for any use of your personal information by an Event Host. If you have special
            preferences concerning use of your personal information by an Event Host, you must communicate those
            preferences directly to them.
            </li>
            <li>
            When you visit our Website, we may also gather certain information about the use of your computer that we
            aggregate with similar information collected from other visitor's computers, which we use for statistical
            and other purposes.
            </li>
            <li>
            Finally, we may occasionally contact you, to notify you of information that might affect your event
            experience, or to notify you of event cancellations, or errors in your order. Additionally, we may contact
            you regarding offerings of future events products or services that may be of interest to you. If you are not
            interested in receiving email notices or advertisement from us, you can unsubscribe at any time.
            </li>
        </ul>
        <br/>
        <a>
            Tracking Information

        </a>

        <p>
            We use IP addresses to analyse trends, administer the site, track user's movement, and gather broad
            demographic information for aggregate use. IP addresses are not linked to personally identifiable
            information.
            We also utilise cookies to track the effectiveness of online advertising. This information is treated
            confidentially and will not be shared with anyone outside of Encore.com. A cookie is a piece of data stored
            on the user's hard drive containing information about the user. Usage of a cookie is in no way linked to any
            personally identifiable information while on our site.
            We use tracking software to monitor customer traffic patterns and site usage to help us develop the design
            and layout of the site to better meet the needs of visitors to Encore.com. This software does not enable us
            to capture any personally identifying information.

        </p>
        <br/>
        <a>
            Your consent
        </a>

        <p>
            In using the Encore.com web site, you consent to the collection and use of this information by Encore.com in
            the ways described above (which may change from time to time) unless and until you inform us to the contrary
            by following the instructions contained in our website.
        </p>
        <br/>
        <a>
            Children Under 13 Years Old
        </a>

        <p>
            Encore.com does not collect or maintain information directly from those under 13 years old. If you are under
            13 years old, please do not provide your name and address or other contact details or personal identifiable
            information of any kind whatsoever.
            Information of children under the age of 13 would only be collected to facilitate online bookings of flight
            or room reservation. Such information should only and would normally be provided by the parent or guardian
            of someone under 13 years old. In addition, only limited information of the child such as name, age, date of
            birth, traveling document, would be collected by Encore.com.
            If you are a Parent or Guardian of someone under 13 years old who has provided us information without your
            knowledge and consent, you may request that we remove this information by contacting us at online feedback
            form.

        </p>
        <br/>


    </div>
{% endblock static %}