{% extends 'EncoreCustomerBundle::layout.html.twig' %}

{% block content %}
    <div id="static-logo" onclick="location.href='/';"></div>
    <div class="static">
        {% block static %}
        {% endblock static%}
    </div>
{% endblock content %}