@font-face {
    font-family: 'Share Tech';
    font-style: normal;
    font-weight: 400;
    src: local('Share Tech'), local('ShareTech-Regular'), url(http://themes.googleusercontent.com/static/fonts/sharetech/v1/riJWcvd3sYdxJpiCWZvUGL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
    font-family: 'Arapey';
    font-style: normal;
    font-weight: 400;
    src: local('Arapey Regular'), local('Arapey-Regular'), url(http://themes.googleusercontent.com/static/fonts/arapey/v2/ZFo_O0Fk1lh8uCa1lRm3QevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

@font-face {
    font-family: 'Baumans';
    font-style: normal;
    font-weight: 400;
    src: local('Baumans'), local('Baumans-Regular'), url(http://themes.googleusercontent.com/static/fonts/baumans/v2/2ubZIIQ7fL9WqPm8AQpgnwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    src: local('Domine'), local('Domine-Regular'), url(http://themes.googleusercontent.com/static/fonts/domine/v1/pAB7vaxH_MyxaONhFl0NvevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}