{# Created by sysadm on 11/8/13. #}

{% extends "EncoreMerchantBundle::layout.html.twig" %}

{% block title %}
    Home
{% endblock title %}

{% block css %}
    <link href="{{ asset('bundles/encoremerchant/css/libs/analytic.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block require_js %}
    require(["encore-merchant/home/home-chart"]);
{% endblock require_js %}

{% block content %}

    <section class="merchant-home-content">
        <div id="merchant-main-logo"></div>
        <article class="merchant-analytics">
            <h2 class="spread-headline">
                Analytics

            </h2>


            <div class="merchant-analytics-wrapper">
                <div id="wrapper">
                    <div class="chart">
                        <h2>Most Popular Event</h2>
                        <div id="figure"><h4>by number of hit</h4>
                            <ul class="legend">
                            {#<li><span class="icon fig0"></span>Carbon Tiger</li>#}
                            <li><span class="icon fig1"></span>Number of visitor</li>
                            {#<li><span class="icon fig2"></span>Tanned Zombie</li>#}
                            </ul>
                            <div class="graph">
                            <ul class="x-axis">
                            <li><span>Avicii </span></li>
                            <li><span>PSY LIVE</span></li>
                            <li><span>A-PINK</span></li>
                            <li><span>BIG BANG</span></li>
                            <li><span>Wicked</span></li>
                            </ul>
                            <ul class="y-axis">
                            <li><span>5000</span></li>
                            <li><span>4000</span></li>
                            <li><span>3000</span></li>
                            <li><span>2000</span></li>
                            <li><span>1000</span></li>
                                <li><span></span></li>

                            </ul>
                            <div class="bars">
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 51%;"><span>4080</span></div>#}
                                    <div class="bar fig1" style="height: 90%;"><span>4500</span></div>
                                    {#<div class="bar fig2" style="height: 20%;"><span>10000</span></div>#}
                                </div>
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 76%;"><span>6080</span></div>#}
                                    <div class="bar fig1" style="height: 70%;"><span>3500</span></div>
                                    {#<div class="bar fig2" style="height: 22%;"><span>1760</span></div>#}
                                </div>
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 78%;"><span>6240</span></div>#}
                                    <div class="bar fig1" style="height: 50%;"><span>2500</span></div>
                                    {#<div class="bar fig2" style="height: 36%;"><span>2880</span></div>#}
                                </div>
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 44%;"><span>3520</span></div>#}
                                    <div class="bar fig1" style="height: 30%;"><span>1500</span></div>
                                    {#<div class="bar fig2" style="height: 59%;"><span>4720</span></div>#}
                                </div>
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 28%;"><span>2240</span></div>#}
                                    <div class="bar fig1" style="height: 10%;"><span>500</span></div>
                                    {#<div class="bar fig2" style="height: 94%;"><span>7520</span></div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </article>
        <article class="merchant-recent-events">
            <h2 class="spread-headline">
                My Events
            </h2>

            <div class="merchant-events-wrapper">


            </div>
        </article>

    </section>
{% endblock content %}