{# Created by sysadm on 11/8/13. #}

{% extends "EncoreMerchantBundle::layout.html.twig" %}

{% block title %}
    Home
{% endblock title %}

{% block css %}
    <link href="{{ asset('bundles/encoremerchant/css/libs/analytic.css') }}" rel="stylesheet"/>
{% endblock css %}

{% block require_js %}
    require(["encore-merchant/home/home-chart"]);
{% endblock require_js %}

{% block content %}

    <section class="merchant-home-content">
        <div id="merchant-main-logo"></div>
        <article class="merchant-analytics">
            <h2 class="spread-headline">
                Analytics

            </h2>


            <div class="merchant-analytics-wrapper">
                <div id="wrapper">
                    <div class="chart">
                        <h2>Most Popular Event</h2>
                        {#<table id="data-table" border="1" cellpadding="10" cellspacing="0"#}
                               {#summary="The effects of the zombie outbreak on the populations of endangered species from 2012 to 2016">#}
                            {#<caption>Population in thousands</caption>#}
                            {#<thead>#}
                            {#<tr>#}
                                {#<td>&nbsp;</td>#}
                                {#<th scope="col">2012</th>#}
                                {#<th scope="col">2013</th>#}
                                {#<th scope="col">2014</th>#}
                                {#<th scope="col">2015</th>#}
                                {#<th scope="col">2016</th>#}
                            {#</tr>#}
                            {#</thead>#}
                            {#<tbody>#}
                            {#<tr>#}
                                {#<th scope="row">Carbon Tiger</th>#}
                                {#<td>4080</td>#}
                                {#<td>6080</td>#}
                                {#<td>6240</td>#}
                                {#<td>3520</td>#}
                                {#<td>2240</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th scope="row">Blue Monkey</th>#}
                                {#<td>5680</td>#}
                                {#<td>6880</td>#}
                                {#<td>5760</td>#}
                                {#<td>5120</td>#}
                                {#<td>2640</td>#}
                            {#</tr>#}
                            {#<tr>#}
                                {#<th scope="row">Tanned Zombie</th>#}
                                {#<td>1040</td>#}
                                {#<td>1760</td>#}
                                {#<td>2880</td>#}
                                {#<td>4720</td>#}
                                {#<td>7520</td>#}
                            {#</tr>#}
                            {#</tbody>#}
                        {#</table>#}
                        <div id="figure"><h4>by number of hit</h4>
                            <ul class="legend">
                            {#<li><span class="icon fig0"></span>Carbon Tiger</li>#}
                            <li><span class="icon fig1"></span>Number of visitor</li>
                            {#<li><span class="icon fig2"></span>Tanned Zombie</li>#}
                            </ul>
                            <div class="graph">
                            <ul class="x-axis">
                            <li><span>Concert A</span></li>
                            <li><span>Concert B</span></li>
                            <li><span>Concert C</span></li>
                            <li><span>Concert D</span></li>
                            <li><span>Concert E</span></li>
                            </ul>
                            <ul class="y-axis">
                            <li><span>5000</span></li>
                            <li><span>4000</span></li>
                            <li><span>3000</span></li>
                            <li><span>2000</span></li>
                            <li><span>1000</span></li>
                                <li><span></span></li>

                            </ul>
                            <div class="bars">
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 51%;"><span>4080</span></div>#}
                                    <div class="bar fig1" style="height: 90%;"><span>4500</span></div>
                                    {#<div class="bar fig2" style="height: 20%;"><span>10000</span></div>#}
                                </div>
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 76%;"><span>6080</span></div>#}
                                    <div class="bar fig1" style="height: 70%;"><span>3500</span></div>
                                    {#<div class="bar fig2" style="height: 22%;"><span>1760</span></div>#}
                                </div>
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 78%;"><span>6240</span></div>#}
                                    <div class="bar fig1" style="height: 50%;"><span>2500</span></div>
                                    {#<div class="bar fig2" style="height: 36%;"><span>2880</span></div>#}
                                </div>
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 44%;"><span>3520</span></div>#}
                                    <div class="bar fig1" style="height: 30%;"><span>1500</span></div>
                                    {#<div class="bar fig2" style="height: 59%;"><span>4720</span></div>#}
                                </div>
                                <div class="bar-group">
                                    {#<div class="bar fig0" style="height: 28%;"><span>2240</span></div>#}
                                    <div class="bar fig1" style="height: 10%;"><span>500</span></div>
                                    {#<div class="bar fig2" style="height: 94%;"><span>7520</span></div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </article>
        <article class="merchant-recent-events">
            <h2 class="spread-headline">
                My Events
            </h2>

            <div class="merchant-events-wrapper">


            </div>
        </article>

    </section>
{% endblock content %}