{# Created by sysadm on 11/8/13. #}

{% extends "EncoreMerchantBundle::layout.html.twig" %}

{% block title %}
    Home
{% endblock title %}

{% block css %}
{% endblock css %}


{% block content %}
    <section class="merchant-home-content">
        <div id="merchant-main-logo"></div>
        <article class="merchant-analytics">
            <h2 class="spread-headline">
                Analytics
            </h2>

            <div class="merchant-analytics-wrapper">

            </div>
        </article>
        <article class="merchant-recent-events">
            <h2 class="spread-headline">
                My Events
            </h2>

            <div class="merchant-events-wrapper">

            </div>
        </article>

    </section>
{% endblock content %}